.project-mark {
    position: absolute;
    display: block;
    top: 3px;
    right: 19px;
    width: 16px;
    height: 16px;
}
.icon-project {
    position: absolute;
    border-radius: 8px;
    background-color: #00aa00;
    display: inline-block;
    vertical-align: middle;
    background-size: 16px 16px;
}
